
/* Main CSS */
.main-content{
  background: linear-gradient(90deg, rgb(14, 218, 237) 0%,
  rgb(151, 224, 237) 35%, rgb(168, 209, 217) 100%);;
  height: 500px;
  width: 913px;
  margin: auto;
  padding: 20px;
}
.form-and-address{
  /* display: flex; */
  width: 50%;
  /* border-radius: 10px;
  grid-template-columns: 70% 30%; */
}
form{
  width: 600px;
  height: 350px;
  background-color: white;
}
.address{
  background-color: #0043c6;
  height: 350px;
  width: 300px;
  margin-top: 25px;
}
.main-form{
  width: 300px;
}
#nameInputLabel{
margin-left: 0px;
color: #0043c6;
}
#nameInput{
  margin-left: 80px;
  border: none;
  border-bottom: 2px solid gray;
  width: 180px;
}
#phone-input-label{
  margin-left: 0px;
color: #0043c6;
}
#phoneInput{
  margin-left: 80px;
  border: none;
  border-bottom: 2px solid gray;
  width: 180px;
}
#email-input-label{
  margin-left: 0px;
color: #0043c6;
}
#emailInput{
  margin-left: 80px;
  border: none;
  border-bottom: 2px solid gray;
  width: 180px;
}
#subject-input-label{
  margin-left: 0px;
color: darkblue;
}
#subjectInput{
  margin-left: 80px;
  border: none;
  border-bottom: 2px solid gray;
  width: 180px;
}
.query-label{
  color: darkblue;
}
/* btn submit */
.send{
  color: white;
  background-color: blue;
  margin:20px 400px 0px 0px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  width: 92px;
  border-radius: 4px;
}
.send:hover{
  color: rgb(41, 65, 93);
  background-color: rgb(169, 169, 201);
  margin:20px 400px 0px 0px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  border-radius: 40%;
}
/* btn submit */
.location-details{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
