$whiter: white;
$lightblue: blue;
$darkblue: darkblue;
$verticalAligner: center;
$blackcolour: black;
$redcolour: red;

.five-container {
  width: 985px;
  border: 30px solid $blackcolour;
  margin: auto;
}

header {
  background-color: $lightblue;
  border-radius: 10px;
  color: $whiter;
  margin: 15px;
  height: 50px;
  padding: 15px;
  box-shadow: 3px 3px 3px 3px $darkblue;
  vertical-align: $verticalAligner;
  font-size: 22px;
  padding-top: 47px;
}

.grid-section {
  background-color: #4fa152;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px darkgreen;
}
.grid-section h3 {
  color: $whiter;
  padding-left: 30px;
  padding-top: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1px;
  margin: 10px;
}

.the-main {
  font-size: 25px;
  margin-left: -13px;
}

.main-items {
  background-color: green;
  color: $whiter;
  border-radius: 5px;
  padding: 40px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  box-shadow: 3px 3px 3px 3px darkgreen;
}

aside {
  background-color: $redcolour;
  border: 1px solid $redcolour;
  border-radius: 10px;
  width: 100%;
  margin: 15px;
  color: $whiter;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 22px;
  box-shadow: 3px 3px 3px 3px darkred;
}

.main-section {
  display: flex;
}

footer {
  background-color: $lightblue;
  border-radius: 10px;
  margin: 15px;
  color: $whiter;
  height: 50px;
  padding: 15px;
  box-shadow: 3px 3px 3px 3px $darkblue;
  vertical-align: $verticalAligner;
  font-size: 22px;
  padding-top: 47px;
}

